{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1>Sell Stocks</h1>
    </div>
    <div class="container text-center">
        <br>
        <h2>Your available cash stands at: {{ money }}$</h2>
        <br>
        <br>
        <form action="/impute-form3" method="post" enctype="multipart/form-data" id="file-form3">
            <div class="row justify-content-evenly">
                <div class="col-md-4 text-bg-secondary p-3" style="border: 3px solid white;">
                    <label for="stock" class="form-label badge text-bg-dark" style="font-size: 18px">Choose stock to sell</label>
                    <select id="stock" name="stock" class="form-select">
                        {% for stock in stocks_list %}
                            <option value="{{ stock }}">{{ stock }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4 text-bg-secondary p-3" style="border: 3px solid white;">
                    <label for="amount" class="form-label badge text-bg-dark" style="font-size: 18px">How many stocks would you like to sell?</label>
                    <input type="number" class="form-control" value="1" placeholder="Choose amount" name="amount" id="amount">
                </div>
            </div>
            <br>
            <br>
            <button class="btn btn-dark bottom-submit" type="submit" tabindex="17">Confirm</button>
        </form>
    </div>
{% endblock %}
